name: release

on:
  push:
    tags: ["*"]

jobs:
  release-windows-amd64:
    runs-on: windows-2019
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: Build
      run: |
        go get -u github.com/hallazzang/syso/...
        syso
        go build -ldflags="-s -w -H windowsgui" -v -o  build/myst-launcher-amd64.exe .
      env:
        GOARCH: amd64
        GOOS: windows

    - name: Sign
      uses: mysteriumnetwork/code-sign-action@v7
      with:
        certificate: '${{ secrets.WINDOWS_CERTS }}'
        password: '${{ secrets.WINDOWS_CERTS_PASSWORD }}'
        certificatesha1: '${{ secrets.WINDOWS_CERTS_THUMBPRINT }}'
        certificatename: '${{ secrets.WINDOWS_CERTS_NAME }}'
        folder: 'build'
        recursive: true

    - name: Upload
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          build/myst-launcher-amd64.exe

      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}